* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

:root {
    --marrone: #ffffff;
    --blu: #8c53f9;
}

.hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-in-out;
}

.googleCalendar {
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
    border-radius: 26px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    opacity: 0;
    transform: translateY(50px);
}

.typing {
    overflow: hidden;
    width: 0;
    animation: typing 2s steps(20, end) forwards;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.show {
    opacity: 1;
    transform: translateY(0);
}

body, html {
    background: linear-gradient(to left, var(--blu), var(--marrone));
}

.firstSection {
    height: 90vh;
    position: relative;
}

.navbarPortfolio {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(30, 30, 30);
}

.leftPartNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 24px;
}

.accNav {
    border: 1px solid rgb(30, 30, 30);
    border-radius: 50%;
    padding: 10px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightPartNav table thead th {
    width: 100px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}

.rightPartNav table thead th:hover {
    color: rgb(60, 60, 60);
}

.centerPartSec {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    color: white;
    flex-wrap: wrap;
}

.myName {
    font-size: 72px;
    font-weight: 500;
    color: rgb(30, 30, 30);    
    width: 90%;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.workAs {
    font-size: 20px;
    font-weight: 100;
}

.bottomSec {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.description {
    text-align: center;
    font-size: 14px;
}

.bottomSec img {
    width: 30%;
    position: absolute;
    bottom: 0;
}

.midPart {
    width: 100%;
    padding: 20px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.accCardCon {
    width: calc(100% / 5.2);
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.ScorePart {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(30, 30, 30);
    color: white;
    flex-wrap: wrap;
}

.leftPart {
    width: 35%;
}

a {
    color: rgb(30, 30, 30);
    text-decoration: none;
    transition: 0.4s;
}

a:hover {
    color: var(--marrone);
}

.leftPart img {
    border-top-left-radius: 0px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.rightPart {
    width: 50%;
    text-align: left;
    padding: 20px;
    border-radius: 26px;
    
    box-shadow: 0px 4px 16px rgba(0.1, 0.1, 0.1, 0.356);
    
    background: rgba(255, 255, 255, 0.05); /* vetro trasparente */
    backdrop-filter: blur(20px) saturate(160%);
    -webkit-backdrop-filter: blur(20px) saturate(160%);
    border: 1px solid rgba(255, 255, 255, 0.18); /* bordo vetroso sottile */

    color: #fff; /* testo chiaro */
}

.act {
    width: 100%;
    text-align: center;
}

.servicesPart {
    color: white;
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(30, 30, 30);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.leftPartServ {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.rightPartServ {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.servCard {
    width: calc(100% / 1.4);
    background: white;
    border-radius: 26px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    color: black;
    font-size: 25px;
    box-shadow: 0px 4px 16px rgba(0.1, 0.1, 0.1, 0.356);
    font-weight: 600;
    width: 100%;
    text-align: left;
    padding: 20px;
    border-radius: 26px;
    
    background: rgba(255, 255, 255, 0.05); /* vetro trasparente */
    backdrop-filter: blur(20px) saturate(160%);
    -webkit-backdrop-filter: blur(20px) saturate(160%);
    border: 1px solid rgba(255, 255, 255, 0.18); /* bordo vetroso sottile */
}

.servCard .logo svg {
    padding: 10px;
    border-radius: 26px;
    width: 40px !important;
    height: 40px !important;
}

details > p {
    font-size: 12px;
    font-weight: 300;
    width: 100%;
    text-align: left;
}

details > summary {
    width: 100%;
    text-align: left;
}

details:open > p {
    margin-top: 10px;
}

details > summary {
    cursor: pointer;
}

.a {
    background: #F0C149;
}

.b {
    background: #286F6C;
}

.c {
    background: #F26440;
}

.contactMe {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.contCard {
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    background: #000;
    border-radius: 26px;
    color: rgb(30, 30, 30);
    box-shadow: 0px 4px 16px rgba(0.1, 0.1, 0.1, 0.356);
    width: 400px !important;
    cursor: pointer;
    
    width: 100%;
    text-align: left;
    padding: 20px;
    border-radius: 26px;
    
    background: rgba(255, 255, 255, 0.05); /* vetro trasparente */
    backdrop-filter: blur(20px) saturate(160%);
    -webkit-backdrop-filter: blur(20px) saturate(160%);
    border: 1px solid rgba(255, 255, 255, 0.18); /* bordo vetroso sottile */
}

.contCard > .svgRepo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.act {
    width: 0% !important;
}

.contCard > .svgRepo > svg {
    width: 30px !important;
    height: 30px !important;
}

.qxCTlb {
    font-weight: 300 !important;
    border-radius: 26px !important;
    padding: 15px !important;
    width: 400px !important;
    text-align: left !important;
    cursor: pointer !important;
    text-align: left !important;
    padding: 20px !important;
    border-radius: 26px !important;

    background: rgba(255, 255, 255, 0.05) !important; /* vetro trasparente */
    box-shadow: 0px 4px 16px rgba(0.1, 0.1, 0.1, 0.356) !important;
    backdrop-filter: blur(20px) saturate(160%) !important;
    -webkit-backdrop-filter: blur(20px) saturate(160%) !important;
    border: 1px solid rgba(255, 255, 255, 0.18) !important; /* bordo vetroso sottile */
    color: rgb(30, 30, 30) !important;
    font-weight: 600 !important;
}

.mmGMM {
    width: calc(100vw - 20px) !important;
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    left: 10px !important;
    max-height: 95vh !important;
}

.myNameMin {
    color: rgb(30, 30, 30);
}

.workAs {
    color: rgb(70, 70, 70) !important;
    width: 100%;
    text-align: center;
}

.ripple {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-effect 0.6s linear;
    pointer-events: none;
}

@keyframes ripple-effect {
    to {
        transform: scale(20);
        opacity: 0;
    }
}

ul li {
    color: rgb(200, 200, 200);
}

.logo {
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentProject {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(30, 30, 30);
}

.contentCollab {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(30, 30, 30);
}

.contentAds {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.ads {
    max-width: 100%;
}

.ads video {
    max-width: 100%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 0px 4px 16px rgba(0.1, 0.1, 0.1, 0.356);
    cursor: pointer;
}

.trustpilot-widget {
    padding-bottom: 20px;
}

.rightPartCol {
    width: 100%;
}

.collabo {
    text-align: left;
    padding: 20px;
    border-radius: 26px;
    
    background: rgba(255, 255, 255, 0.05); /* vetro trasparente */
    
    box-shadow: 0px 4px 16px rgba(0.1, 0.1, 0.1, 0.356);
    backdrop-filter: blur(20px) saturate(160%);
    -webkit-backdrop-filter: blur(20px) saturate(160%);
    border: 1px solid rgba(255, 255, 255, 0.18); /* bordo vetroso sottile */

    color: #fff; /* testo chiaro */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.cardC {
    position: relative;
    width: 100px;
    height: 50px;
    background: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 16px rgba(0.1, 0.1, 0.1, 0.356);
    transition: 1.2s;
}

.cardC:hover {
    box-shadow: 0px 4px 16px rgba(255, 0, 204, 0.67);
}

.definition-a {
    position: absolute;
    bottom: 0px;
    padding: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    background: lightgray;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.subtitle {
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.cardC img {
    max-width: 60%;
    min-width: 60%;
    cursor: pointer;
}

.leftPartPro {
    width: 45%;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rightPartPro {
    width: 50%; 
}

.stayBlack {
    color: rgb(30, 30, 30) !important;
}

.projectCard {
    width: calc(100% / 1.4);
    background: white;
    border-radius: 26px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    color: black;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 0px 4px 16px rgba(0.1, 0.1, 0.1, 0.356);
    cursor: pointer;
    
    width: 100%;
    text-align: left;
    padding: 20px;
    border-radius: 26px;
    
    background: rgba(255, 255, 255, 0.05); /* vetro trasparente */
    backdrop-filter: blur(20px) saturate(160%);
    -webkit-backdrop-filter: blur(20px) saturate(160%);
    border: 1px solid rgba(255, 255, 255, 0.18); /* bordo vetroso sottile */
}

.rightPartNav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    gap: 20px;
}

.modeEdit {
    background: none;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cardMain {
    max-width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 26px;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 4px 16px rgba(0.1, 0.1, 0.1, 0.356);
}

table {
    display: none !important;
}

.cardMain > img {
    max-width: 100%;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
}

.definition {
    padding: 20px;
    margin-top: -10px;
}

.little {
    max-width: 40% !important;
    min-width: 40% !important;
}

.nameNav {
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    .rightPartNav > table {
        display: none;
    }

    .qxCTlb {
        width: 100% !important;
    }

    .contactMe {
        width: 85% !important;
    }

    .little {
        max-width: 40% !important;
        min-width: 40% !important;
    }

    .logo {
        border-radius: 26px;;
    }

    .myName {
        font-size: 32px;
    }

    .workAs {
        font-size: 16px;
    }

    .bottomSec img {
        width: 100%;
    }

    .midPart {
        gap: 20px;
        z-index: 100;
    }

    .nomeCon {
        display: none;
    }

    .accCardCon {
        width: calc(100% / 7.6);
    }

    .ScorePart {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .leftPart {
        width: 100%;
    }

    .leftPart img {
        max-width: 100%;
        display: none;
    }

    .rightPart {
        width: 100%;
        margin-top: 20px;
    }

    .servicesPart {
        flex-direction: column;
    }

    .contCard {
        width: 100%;
        border-radius: 26px;
        border: none;
    }

    .trustpilot-widget {
        border: none;
    }

    .svgRepo > svg {
        width: 30px;
        height: 30px;
    }

    .contactNow {
        width: 100%;
        display: flex;
        justify-content: flex-start !important;
        align-items: center;
    }

    .nomeCon {
        width: 30px;
    }

    .leftPartServ {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    ul li {
        list-style: none;
        color: rgb(200, 200, 200)
    }

    .rightPartServ {
        width: 90%;
        margin: 0 auto;
    }

    .servCard {
        width: 110%;
    }

    .act {
        display: block;
    }

    * {
        text-align: center;
    }

    .contentProject {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .leftPartPro {
        width: 100%;
    }

    .rightPartPro {
        width: 100%;
    }

    .projectCard {
        width: 100%;
    }

    .cardC {
        background: white;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cardC > img {
        max-width: 60%;
        width: 60%;
        min-width: 60%;
    }
}